.latest-docs {
    .group1{
        display: flex;
        gap: 10px;
        align-items: center;

        #latest-docs-title{
            width: 200px;
        }
        
        #latest-docs-prefix{
            width: 50px;
        }
    }

    .group2{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .doc-notebook-id {
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            margin-right: 0.5rem;
            white-space: nowrap;
            width: auto;
        }
    }
}