.TaskMan {
    .TaskMan-checkbox { 
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .TaskMan-notebook-id {
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            margin-right: 0.5rem;
            white-space: nowrap;
            width: auto;
        }
    }
}